<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LANDING PAGE</title>
</head>
<body style="background-color: lightblue">
<br><br><br><br><br><br><br><br><br>
    <div style="text-align: center">
        <h1>LANDING PAGE</h1>
    <p>
        <a href=" {% url 'login' %}"><strong>LOGIN</strong></a> | <a href="{% url 'register' %}"><strong>REGISTER</strong></a> |  <a href="{% url 'users' %}"><strong>USERS</strong></a> | <a href="{% url 'books' %}"><strong>BOOKS</strong></a>
    </p>
        </div>
</body>
</html>