<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
        <div>
            <p>
                <h1>USER MALUMOTI:</h1>
                <h3>ISMI : {{user.first_name}} <br>
                    FAMILIYASI : {{user.last_name}} <br>
                    USERNAME : {{user.username}} <br>
                    PASSWORD : ******** <br>
                    <img src="{{ user.image.url }}" alt="user photo"> <br> <br>
                    EMAIL : {{user.email}} <br>
                </h3>
            </p>
            <a href="{% url 'settings' user.id %}"><button type="submit">Settings</button></a>
        </div>
</body>
</html>